*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#hikes{
  background-color: #59F7EC;
  main{
    display: flex;
    margin: auto;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    @import "partials/login-register";
  }
}
#table{
  background-color: #59F7EC;
  main{
    display: flex;
    flex-direction: column ;
    @import "partials/table";
    height: 100vh;
    width: 100vw;
  }
}
#edit{ 
   background-color: #59F7EC;
   display: flex;
   flex-direction: column;
   height: 100vh;
   width: 100vw;
  @import "partials/editpage"; 
}
